.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.game button {
    border: none;
}

.game header {
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FB6B6B;
    z-index: 1;
}

.game header h1 {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.game main {
    overflow-y: scroll;
    margin-top: 50px;
    margin-bottom: 100px;
}

.game footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 90px;
    padding: 20px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer span.close-circle {
    color: #FF3030;
}

footer span.help-circle {
    color: #FF922E;
}

footer span.checkmark-circle {
    color: #2FBE34;
}

footer div.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game footer p {
    font-family: 'Recursive', sans-serif;  
}