* {
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}

body {
    background-color: #FB6B6B;
}

.game * {
    font-family: 'Recursive', sans-serif;
}

.inicio h1 , .game h1{
    font-family: 'Righteous', cursive;
}

strong {
    font-weight: 700;
}